.contentContainer {
  margin: 0 auto;
  max-width: 1280px;
  height: fit-content;
  padding: 30px 40px 120px;
  overflow-x: hidden;
}

.titleConainer {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  padding: 16px 0;
  text-align: center;
}

.skeltonDiv {
  width: 100%;
  height: 100vh;
}

.rankDiv {
  display: flex;
  flex-wrap: nowrap;
}
.rankDiv>div{
  margin: 1%;
  flex-basis: calc(48%);
}

.followBtn {
  max-width: fit-content;
  background-color: #222222;
  height: 35px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: auto;
}
.followBtnText {
  color: white;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
}


@media (max-width: 800px) {
  .contentContainer {
    padding:0;
  }
}