.product {
  display: inline-block;
  margin: 1rem 0 0 0;
}
.product__image {
  width: 17.5rem;
  height: 17.5rem;
  display: block;
  background: #e4e4e4;
  border-radius: 5%;
  position: relative;
}
.product__info a {
  display: block;
  width: 12rem;
  text-align: left;
}
.product__maker {
  font-size: 0.7rem;
  font-weight: bold;
}
.product__detail {
  font-size: 0.7rem;
}
.product__price {
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.product__special {
  font-size: 0.6rem;
  color: rgba(34, 34, 34, 0.5);
}
