.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  box-sizing: border-box;
}

.tabItem {
  
}

.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(183, 183, 183);
}

.onlyText {
  color: white;
  font-size: 24px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.titleText {
  color: rgb(51, 51, 51);
  font-size: 13px;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    overflow: auto;
  }

  .titleText {
    font-size: 12px;
  }

  .iconDiv {
    width: 66px;
    height: 66px;
  }
}