.container {
  width: 100%;
  height: 100%;
}

.titleContainer {
  display: flex;
  width: 100%;
  padding: 15px 0;
}

.titleText {
  font-size: 14px;
  font-weight: 400;
}
.moreText {
  color: rgba(34,34,34,.5);
  font-size: 13px;
  font-weight: 400;
  margin-left: auto;
  cursor: pointer;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.summ {
  width:12%;
  font-size: 12px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.5);
}

.desc {
  width: 85%;
  font-size: 13px;
  font-weight: 400;
  color: #222222;
}

.icontentContainer{
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
}
.iconDiv {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.iTextContainer {
  margin-left: 15px;
}

.iTitleText {
  font-weight: 600;
  font-size: 13px;
}
.iSubTitleText{
  margin-left: 4px;
  font-weight: 400;
  font-size: 13px;
}

.iDescText {
  color: rgba(34,34,34,.5);
  font-size: 12px;
}

.iMore {
  margin-left: 5px;
  cursor: pointer;
}