.container {
  position: relative;
  overflow-y: hidden;
}
.titleText {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}

.tableContainer {
  overflow-x: scroll;
  font-size: 13px;
}

.sizeTable {
  border-collapse: collapse;
  border: none;
}
.sizeTable td {
  min-width: 80px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.sizeTable th {
  min-width: 80px;
  height: 50px;
  font-weight: 400;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid white;
}
.sizeTable .likeTh {
  min-width: 80px;
  height: 50px;
  font-weight: 400;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid white;
}

.shadowBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  box-shadow: 0px 0px 50px 75px rgba(255, 255, 255);
}