.main-items {
  padding: 2rem 0 3rem 0;
}

.product__release {
  padding: 3rem 0;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}

.product__TOPBrand {
  padding: 3rem 0;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}
.product__MostPopular {
  padding: 3rem 0;
}
.style__required {
  padding: 3rem 0;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}
