@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* 기본설정 */
* {
  font-family: "SUITE-Regular", sans-serif;
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 6.25rem 0 0 0;
}

.box {
  max-width: 1150px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
header {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  display: block;
  padding: 1rem 0 0 0;
}
