.fillter {
  width: 11rem;
}
.title {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  margin: 1rem 0;
}
.category__name {
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  display: flex;

  background: rgba(34, 34, 34, 0);
  cursor: pointer;
}
.category__name a {
  font-weight: bold;
  color: #aaa;
  z-index: -1;
}
.category__names {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
}

.category__name .name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
}
.open {
  width: 100%;
  display: block;
  padding: 0 0 1rem;
}
.clear {
  flex: none;
}
