.container {
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  color: #222;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: -.21px;
  line-height: 1.2142857143;
  padding: 12px;
  white-space: break-spaces;
  word-break: break-all;
  box-sizing: border-box;
}