.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.productImgDiv {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.productImgDiv>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoDiv {
  margin-left: 15px;
}
.productNameText {
  font-size: 14px;
  font-weight: 300;
}
.productKorNameText {
  font-size: 12px;
  font-weight: 300;
  color: grey;
}

.priceText {
  font-size: 15px;
  font-weight: 600;
}